.done-recipes-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.done-recipes-nav button {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  width: 102px;
}
