body {
  background-color: rgb(35, 35, 35);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h1 {
  color: white;
}

li {
  background-color: gray;
  border-radius: 30px;
  box-shadow: 2px 2px 5px lightgray;
  color: white;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

p {
  color:teal;
  text-align: center;
}