* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-container {
  align-items: center;
  background-color: rgba(22, 27, 34, 1);
  color: honeydew;
  display: flex;
  justify-content: space-evenly;
}

.description-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
