body {
  margin: 0 auto;
  background-color: rgb(222, 222, 222);
}

h1 {
  text-align: center;
}

.pokedex {
/*   background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c5069763-9098-4808-b222-a0089bb5786d/dcrrow9-6eb749e4-5308-4985-ac0b-20e432f8425c.png/v1/fill/w_1600,h_2846,q_80,strp/pokedex_phone_wallpaper_by_drboxhead_dcrrow9-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yODQ2IiwicGF0aCI6IlwvZlwvYzUwNjk3NjMtOTA5OC00ODA4LWIyMjItYTAwODliYjU3ODZkXC9kY3Jyb3c5LTZlYjc0OWU0LTUzMDgtNDk4NS1hYzBiLTIwZTQzMmY4NDI1Yy5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.t2dAXZvKlDN3T5rqaf2S30cynoMTqN-7cv4Ef_jM3Rk);
  background-repeat: no-repeat;
  background-size: contain; */
  background-color: rgb(200, 200, 200);
  border: 2px solid black;
  margin: 50px auto;
  width: fit-content;
}

.pokedex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.pokemon-button {
  border-radius: 15px;
  height: max-content;
  outline-style: none;
}

.change-pokemon {
  align-self: center;
  border: 2px solid black;
  font-size: 35px;
  width: 85px;
}

.pokemon-card {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5px;
  min-width: 45%;
  padding: 0 15px;
}

.pokemon-info {
  font-weight: 700;
}