body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin-top: 0px;
    padding-top: 10px;
    margin-left: 20px;
}

header {
    color: silver;
    height: 100%;
    background-color: darkslategray;
    text-shadow: 2px 2px #000000;
}

main {
    margin-left: 20px;
}

table, td, tr {
    border: 1px solid black;
}

th {
    text-align: right;
}

img {
    margin: auto;
    width: 40%;
    border: 3px solid darkslategray;
    border-radius: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    padding-bottom: 10px;
    color: silver;
    height: 100%;
    background-color: darkslategray;
    text-shadow: 2px 2px #000000;
}

#nav-bar ul {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: slategrey;
    
}

#nav-bar li{
    padding-right: 40px;
    display: inline-block;
    font-weight: bold;
    
}

#introduction {
    width: 50%;
}