html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 17px;
  }

  h1 {
    text-align: center;
  }

  .container {
    display: flex;
    flex-flow: column wrap;
  }

  .container header {
    align-items: center;
    background: gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .container header nav ul {
    display: flex;
    justify-content: space-around;
  }

  .container header nav ul li {
      margin-right: 10px;
    }

  .container aside {
    align-self: flex-start;
    margin: 35px;
  }

  article {
    margin: 35px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1280px) {
    body {
      font-size: 23px;
    }
  
    h1 {
      text-align: center;
    }
  
    .container {
      display: flex;
      flex-flow: column wrap;
    }
  
    .container header {
      align-items: center;
      background: gray;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    }
  
    .container header nav ul {
      display: flex;
      justify-content: space-around;
    }

    .container header nav ul li {
        margin-right: 40px;
      }
  
    .container aside {
      align-self: flex-start;
      margin: 35px;
    }
  
    article {
      margin: 35px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  body {
    font-size: 25px;
  }
  
  h1 {
    text-align: center;
  }

  header p {
    font-size: 35px;
  }
  
  .container {
    display: flex;
    flex-flow: column wrap;
  }
  
  .container header {
    align-items: center;
    background: darkslategray;
    color: whitesmoke;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  
  .container header nav ul {
    display: flex;
    justify-content: space-around;
  }

  .container header nav ul li {
    margin-right: 40px;
  }
  
  .container aside {
    align-self: flex-start;
    margin: 35px;
  }
  
  article {
    margin: 35px;
  }
}
