.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 5px solid;
  width: 210px;
  height: 210px;
  max-width: 210px;
  max-height: 210px;
  margin: auto;

}

td {
  border: 5px solid;
  padding: 0;
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
  font-size: 50px;
}

span {
  font-size: 50px;
}